*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}



body{
    margin: 0;
    background-color: #161616;
}




main{
    margin-top: 80px; 
    background-color: #fff;
}






.box{
    position: relative;
    overflow: hidden;
}

.luz{
    position: absolute;
    width: 609px;
    height: 609px;
    background: #f3f2ef;
    border-radius: 50%;
    top: -136px;
    left: -130px;
    filter: blur(180px);
    opacity: 1;
    mix-blend-mode: screen; 
    pointer-events: none;
    z-index: 2000 ;
}

.luz-2{
    position: absolute;
    background: #f3f2ef;
    border-radius: 50%;
    width: 429.2px;
    height: 429.2px;
    top: -226px;
    left: 984.67px;
    filter: blur(120px);
    mix-blend-mode: screen; 
    pointer-events: none;
    z-index: 2000;
}


/* header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    padding: 0 80px;
    background: linear-gradient(
        to bottom,
        #161616 0%,
        rgba(22,22,22,0.95) 60%,
        rgba(22,22,22,0.9) 80%,
        #161616 100%
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}




.links-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

.links-navegacion a{
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 0.8rem;
}


.nombre-pagina{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: bold;
    font-size: 1.25rem;
    line-height: 100%;
    padding:0;
    margin: 0;
    color: #fff;
}


.items{
    display: flex;
    gap: 1rem;
    margin: 0 ;
}

.img-perfil{
    width: 1.201rem;
    height: 1.155rem;
}

.img-carrito{
    width: 1.213rem;
    height: 1.073rem;
}

/* hero */
.hero{
    display: flex;
    align-items: center;
    padding: 0 10rem;
    gap: 4rem;
    background-color: #161616;
}



.hero-texto{
    max-width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}




.titulo-producto-principal{
    font-size: clamp(4rem, 8vw, 8.14rem);
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
}


.descripcion{
    color: #ffffff;
    width: 470px;
    min-height: 112.81px;
    max-width: 470px;
}



.precio-hero{
    color: #ffffff;
    font-weight: 600;
    font-size: 2.486rem;
    margin-top: 0;    
    width: 40%;
}

.boton-añadir-carrito{
    width: 40%;
}

.boton-añadir-carrito button{
    padding: 0.563rem 1.563rem;
    border: 0.114rem solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    
}

.img-outfit-principal{
    width: 669px;
    max-width: 45%;
    transform: translate(-10.7rem , 1rem);
}


.under-hero{
    display: flex;
    align-items: center;
    color: #ffffff;
    transform: translate(-10rem , 3rem);
    transform: translatex(-150px);
}

.under-hero p{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}


/* home */

.caja-promocion{
    background-color: #e2e2e2;
    padding: 0.2rem;
}


.caja-promocion p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}


.new-in{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
}


.img-catalogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.img-catalogo img{
    position: relative; 
}

.buzo{
    width: 360px;
    z-index: 3;
}

.campera{
    width: 240px;
    transform: translate(150px,-60px);
    z-index: 2;
}


.zapatilla{
    width: 240px;
    transform: translate(-140px,-60px);
    z-index: 1;
}

.hoodie-winegrape{
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.precio-home{
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    text-align: center;
}

.contenedor-link{
    display: flex;
    justify-content: flex-end;
    padding: 5rem;
    margin-top: -3rem;
}

.ver-todo{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex; 
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
}

.circulos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

.circulos div{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


.rosado{
    background-color: #f2c9c9;
}

.rojo{
    background-color: #ff0000;
}

.azul{
    background-color: #4242b4;
}

.amarillo{
    background-color: #efef47;
}

.contenedor-sold-out{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.83px solid #adadad;
    width: 10rem;
    height: 2.5rem;  
    margin: -3rem auto 0;
}

.contenedor-sold-out p{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}


.contenedor-new-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
}

.contenedor-new-in p{
    color: #000000;
    text-transform: uppercase ;
    margin-left: 10rem;
}

.linea-horizontal{
    height: 0.2rem;
    width: 15rem;
}

.destacados{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    margin:  10rem;
    text-transform: uppercase;
}


.prendas-carusel{
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 3rem;
}

.prendas-carusel img{
    width: 270px;
    height: auto;
    display: flex;
    background-color: #f4f4f4;
    padding: 2rem;
}



.carousel-control-prev {
    left: 2rem;
}

.carousel-control-next {
    right: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    filter: invert(1);
}

.nombre-prenda{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400 ;
    margin-top: 1rem;
}

.precio-carrusel{
    font-size: 16px;
    font-weight: 600;
}


.barra-seguimiento{
    margin: 0 auto;
    display: block;
}


.titulo-categoria{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 10rem;
    text-transform: uppercase;
}


.img-categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: transform 0.5s;
}

.img-categorias :hover{
    transform: scale(1.05);
    cursor: pointer;
}

.buzo-centro-verde{
    background-color: #f4f4f4 ;
    padding: 0.8rem;
}


.nombre-producto{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem;
}

.correo {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin-top: 6rem;
}

.newsletter {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.desc-correo {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0.3rem;
}


.correo-input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 1.5rem;
    padding: 0.2rem;
    background-color: #fff;
}


.inp-correo {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0.8rem 0;
    font-size: 1rem;
    margin-left: 1.5rem; 
}

.inp-correo:focus {
    outline: none;
}


.btn-flecha {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0.5rem;
}

.btn-flecha img {
    width: 18px;
    display: block;
}


footer{
    background-color: #181818;
    width: 100%;
    height: 50vh;
}


.box-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.contactos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4.5rem;
}

.contactos p{
    font-size: 14.74px;
    font-weight: 400;
    color: #838282;
}

.img-footer{
    margin-right: 3rem;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.politicas{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.politicas a{
    text-decoration: none;
    font-size: 14.74px;
    font-weight: 400;
    color: #838282;
}

h4{
    font-size: 14.74px;
    font-weight: 700;
    color: #fff;
}

