*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}



body{
    margin: 0;
    background-color: #161616;
}




main{
    margin-top: 80px; 
    background-color: #fff;
}


.icon-navbar{
    display: none;
}

.box{
    position: relative;
    overflow: hidden;
}

.luz{
    position: absolute;
    width: 609px;
    height: 609px;
    background: #f3f2ef;
    border-radius: 50%;
    top: -136px;
    left: -130px;
    filter: blur(180px);
    opacity: 1;
    mix-blend-mode: screen; 
    pointer-events: none;
    z-index: 2000 ;
}

.luz-2{
    position: absolute;
    background: #f3f2ef;
    border-radius: 50%;
    width: 429.2px;
    height: 429.2px;
    top: -226px;
    left: 984.67px;
    filter: blur(120px);
    mix-blend-mode: screen; 
    pointer-events: none;
    z-index: 2000;
}



/* header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    padding: 0 80px;
    background: linear-gradient(
        to bottom,
        #161616 0%,
        rgba(22,22,22,0.95) 60%,
        rgba(22,22,22,0.9) 80%,
        #161616 100%
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}




.links-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

.links-navegacion a{
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 0.8rem;
}


.nombre-pagina{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: bold;
    font-size: 1.25rem;
    line-height: 100%;
    padding:0;
    margin: 0;
    color: #fff;
}


.items{
    display: flex;
    gap: 1rem;
    margin: 0 ;
}

.img-perfil{
    width: 1.201rem;
    height: 1.155rem;
}

.img-carrito{
    width: 1.213rem;
    height: 1.073rem;
}

/* hero */
.hero{
    display: flex;
    align-items: center;
    padding: 0 10rem;
    gap: 4rem;
    background-color: #161616;
}



.hero-texto{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}




.titulo-producto-principal{
    font-size: 9rem;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    width: 120%;
    margin-left: -3.5rem;
}


.descripcion{
    color: #ffffff;
    width: 470px;
    min-height: 112.81px;
    max-width: 470px;
}



.precio-hero{
    color: #ffffff;
    font-weight: 600;
    font-size: 2.486rem;
    margin-top: -2.5rem;    
    width: 40%;
}

.boton-añadir-carrito{
    width: 40%;
    margin-top: -1.5rem;
}

.boton-añadir-carrito button{
    padding: 0.563rem 1.563rem;
    border: 0.114rem solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}



.img-outfit-principal{
    width: 529px;
    max-width: 45%;
    position: relative;
    top: 4.3rem;          
    left: -21rem; 
}

.hero-img {
    flex-shrink: 0;         
    width: 1180px;            
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
}


.img-producto-mq{
    display: none;
}

.under-hero{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-left: -10rem;
}

.under-hero p{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.titulo-mq{
    display: none;
}

.nike-mq{
    display: none;
}


/* home */

.caja-promocion{
    background-color: #e2e2e2;
    padding: 0.5rem;
}


.caja-promocion p{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.flecha{
    font-size: 1.25rem;
    cursor: pointer;
    user-select: none;
}


.new-in{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1.3rem;
}


.img-catalogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.img-catalogo img{
    position: relative; 
}

.buzo{
    width: 360px;
    z-index: 3;
}

.campera{
    width: 240px;
    transform: translate(150px,-60px);
    z-index: 2;
}


.zapatilla{
    width: 240px;
    transform: translate(-140px,-60px);
    z-index: 1;
}

.hoodie-winegrape-dk{
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-top: -1rem;
}

.precio-home-dk{
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    text-align: center;
}

.contenedor-link-deskpot{
    display: flex;
    justify-content: flex-end;
    padding: 5rem;
    margin-top: -6rem;
}

.ver-todo{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex; 
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
}

.circulos-dk{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

.circulos-dk div{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid #000000 ;
}


.rosado{
    background-color: #f2c9c9;
}

.rojo{
    background-color: #ff0000;
}

.azul{
    background-color: #4242b4;
}

.amarillo{
    background-color: #efef47;
}

.contenedor-sold-out{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.83px solid #adadad;
    width: 10rem;
    height: 2.5rem;  
    margin: -4rem auto 0;
}

.contenedor-sold-out p{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}


.contenedor-new-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
}

.contenedor-new-in p{
    color: #000000;
    text-transform: uppercase ;
    margin-left: 10rem;
}

.linea-horizontal{
    height: 0.2rem;
    width: 15rem;
}

.destacados{
    font-size: 2.25rem;
    font-weight: 600;
    color: #000000;
    margin:  10rem;
    text-transform: uppercase;
}


.prendas-carusel{
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 3rem;
}

.prendas-carusel img{
    width: 16.875rem;
    height: auto;
    display: flex;
    background-color: #f4f4f4;
    padding: 2rem;
}

.camperon-gris img{
    width: 15.313rem;
}

.campera-centro-verde img{
    width: 15.313rem;
}




.camperon-verde img{
    width: 245px;
    height: 290.9px;
}


.carousel-control-prev {
    left: 2rem;
}

.carousel-control-next {
    right: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    filter: invert(1);
}

.nombre-prenda{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400 ;
    margin-top: 1rem;
}

.precio-carrusel{
    font-size: 1rem;
    font-weight: 600;
}


.barra-seguimiento{
    margin: 0 auto;
    display: block;
}


.titulo-categoria{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 10rem;
    text-transform: uppercase;
    padding-top: 2rem;
}


.img-categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



.zapas img{
    width: 241px;
    height: 278px;
    background-color: #f4f4f4
}


.img-categorias :hover{
    transform: scale(1.02);
    cursor: pointer;
    transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.buzo-centro-verde{
    background-color: #f4f4f4 ;
    padding: 0.8rem;
}


.nombre-producto{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem;
}





.correo {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin-top: 6rem;
}

.newsletter {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.desc-correo {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.3rem;
}


.correo-input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 1.5rem;
    padding: 0.2rem;
    background-color: #fff;
}


.inp-correo {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0.8rem 0;
    font-size: 1rem;
    margin-left: 1.5rem; 
}

.inp-correo:focus {
    outline: none;
}


.btn-flecha {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0.5rem;
}

.btn-flecha img {
    width: 1.2rem;
    display: block;
}


footer{
    background-color: #181818;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
}


.box-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-transform: capitalize;
}

.contactos p{
    font-size: 1rem;
    font-weight: 400;
    color: #838282;
}

.img-footer{
    margin-right: 3rem;
    justify-content: center;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.politicas{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: -2rem;
    text-transform: capitalize;
    justify-content: center;
}

.politicas a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #838282;
    text-transform: capitalize;
}

h4{
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.ver-todo-mobile-only{
    display: none;
}

.carousel-mq{
    display: none;
}


.footer-mq{
    display: none;
}

.carousel-mq1{
    display: none;
}


@media (max-width: 767px) {

.carousel-dk{
    display: none;
}


  /*HEADER */

.header {
    padding: 0 1.5rem;
    height: 64px;
    justify-content: space-between;
    z-index: 3000;
    display: flex;
}

.hero-img{
    display: none;
}

.luz{
    z-index: 4000;
    position: absolute;
    left: -350px;
    top: -580px;
}

.luz-2 {
    position: absolute;
    z-index: 4000;
    right: -430px;
    top: -100px;
    left: auto;
    bottom: auto;
}


.luz-3{
    position: absolute;
    background: #f3f2ef;
    border-radius: 50%;
    width: 429.2px;
    height: 429.2px;
    top: 130px;
    left: -350.67px;
    bottom: auto;
    filter: blur(120px);
    mix-blend-mode: screen; 
    pointer-events: none;
    z-index: 4000;
}

.icon-navbar {
        width: 20px;
        display: flex;
        margin-top: 2rem;
    }



.links-navegacion {
    display: none;
}

.nombre-pagina {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 500;
    margin-top: 2rem;
}

.items {
    margin-left: auto;
    margin-top: 2rem;
}

.img-perfil {
    display: none;
}


.img-carrito {
    width: 1.3rem;
    height: auto;
}




  /*HERO  */

.hero {
    flex-direction: column;
    padding: 6rem 1.5rem 2rem;
    gap: 2rem;
    position: relative;
}


.img-outfit-principal {
    display: none;
}

.hero-img-mq {
    width: 100%;
    position: relative;
    z-index: 5;
}



.img-producto-mq{
    width: 100%;
    display: block;
    margin-top: -6rem; /* controlado */
}


.hero-texto {
    max-width: 100%;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
}

.titulo-producto-principal {
    display: none;
}

.descripcion {
    display: none;
}

.precio-hero {
    display: none;
}

.boton-añadir-carrito {
    display: none;
}

.carrito-mq{
    display: none;
}


.under-hero {
    position: absolute;
    left: 1rem;
    bottom: 0.1rem;
    transform: none;
    flex-direction: column;
    align-items: center;
    
}

.under-hero img{
    width: auto;
    height: 90px;
}

.under-hero p {
    writing-mode: vertical-rl;
    transform: rotate(270deg);
    font-size: 0.75rem;
    transform: translate(-1rem , 4.5rem);
}

.titulo-mq {
    position: absolute;
    bottom: 2.5rem;              /* altura consistente */
    left: 45%;
    transform: translateX(-50%); /* centrado real */
    font-size: clamp(2.6rem, 10vw, 3.4rem);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.95;
    letter-spacing: 2px;
    color: #ffffff;
    display: block;
    pointer-events: none;
    z-index: 6;
}


.nike-mq {
    display: block;
    position: absolute;
    top: 1rem;                
    left: 77%;
    transform: translateX(-50%);
    font-size: clamp(2.6rem, 8vw, 3.5rem); 
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    pointer-events: none;
    z-index: 6;
}



.new-in{
    text-align: left;
    font-size: 1.7rem;
    padding: 2rem;
    display: inline-block;
}
.caja-promocion{
    display: none;
}


.contenedor-link-deskpot{
    display: none;
}

.contenedor-new-in{
    display: none;
}

.ver-todo-mobile-only{
        display: block;
        text-align: right;
        padding: 0 2.5rem;
        margin-top: -4.3rem;
        color: #000000;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
}

.img-catalogo{
    display: none;
}


.carousel-mq {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.carousel-mq1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}

.carousel{
    width: 380px;
}

.carousel-img-mq {
    width: 260px; 
    height: 260px;
    margin: 0 auto;
    display: block;   
}


.contenedor-sold-out{
    display: none;
}


.carousel-item img{
    width: 300px;
}


.circulos-dk{
    display: none;
}

.precio-home-dk{
    display: none;
}

.hoodie-winegrape-dk{
    display: none;
}

.hoodie-winegrape-mq{
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-top: -1rem;
}

.precio-home-mq{
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    text-align: center;
}





.circulos-mq{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.circulos-mq div{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid #000000 ;
}

.carrito-mq{
    display: flex;
    background-color: #000000;
    width: 40vw;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.carrito-mq p{
    color: #fff;
    text-align: center;
    padding: 0.7rem 1rem;
    margin: 0;
    font-weight: 400;
}

.destacados{
    margin: 4rem 3rem;
    font-size: 2rem;
}




.carousel-item img{
    width: 220px ;
    height: 260px;
}




.titulo-categoria{
    margin: 3rem;
}

.img-categorias {
    display: grid;
    grid-template-columns: repeat(2, 185px);
    justify-items: center;
    gap: 0.5rem; 
}

.img-categorias div {
    width: 170px;
    text-align: center;
    margin: 0; 
}





.img-categorias img {
    width: 100%;
    height: 196px;
    object-fit: contain;
}

.correo{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.newsletter {
    white-space: nowrap;
}

.desc-correo{
    padding: 0;
    width: 100%;
}



    footer {
        padding: 0;
        height: 30vh;
    }

    .box-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }


.img-footer {
        width: 170px;
        justify-content: center;
        align-items: center;
    }


    .img-footer img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: 3rem;
        margin-top: -2rem;
    }

.politicas{
    display: none;
}

.contactos{
    display: none;
}

.footer-mq{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: start;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.footer-mq h4{
    text-transform: uppercase;
}




    .img-carrusel .carousel-control-prev {
    left: -0.4rem;
}

.img-carrusel .carousel-control-next {
    right: -2rem;
}

.carousel-control-next-icon{
    margin-right: -5.5rem;
}

.carousel-control-prev-icon{
    margin-left: -5.5rem;
}

}


@media (min-width: 768px) and (max-width: 1023px) {

    .nombre-pagina{
        margin-left: -2.5rem;
    }


    .items{
        margin-right: -3.5rem;
    }


    .hero {
    padding: 0 6rem;
  }

  .titulo-producto-principal {
    font-size: 4.5rem;
    margin-left: -2rem;
  }

  .img-outfit-principal {
    width: 420px;
    left: -17rem;
    top: 2.2rem;
  }

  .descripcion {
    max-width: 380px;
  }

.img-categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* siguen siendo 4 */
    gap: 1.5rem;
    padding: 0 3rem;
}

.img-categorias div {
    max-width: 180px;   /* 🔑 achica contenedor */
    margin: 0 auto;
}

.img-categorias img {
    width: 100%;
    height: auto;
}

.nombre-producto {
    font-size: 0.9rem;
    margin: 0.5rem 0;
}







        footer {
        padding: 0;
        height: 30vh;
    }

    .box-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }


.img-footer {
        width: 170px;
        justify-content: center;
        align-items: center;
    }


    .img-footer img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: 3rem;
        margin-top: -2rem;
    }

.politicas{
    display: none;
}

.contactos{
    display: none;
}

.footer-mq{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: start;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.footer-mq h4{
    text-transform: uppercase;



}






  .prendas-carusel {
    gap: 2.5rem;      
    padding: 0 2rem;
  }


  .prendas-carusel article {
    max-width: 220px; 
  }

 
  .prendas-carusel img {
    width: 100%;
    max-width: 200px;
  }

  .camperon-verde img{
    height:234.49px
  }

  
  .nombre-prenda {
    font-size: 0.85rem;
  }

  .precio-carrusel {
    font-size: 1rem;
  }


  .barra-seguimiento{
    padding: 3rem
  }

  .carousel-control-next-icon{
    margin-right: -8rem;
}

.carousel-control-prev-icon{
    margin-left: -8rem;
}



}



@media (min-width: 1024px) and (max-width: 1200px) {
  .titulo-producto-principal {
    font-size: 6.5rem;
    margin-left: -2rem;
    width: 110%;
  }

   .hero-img {
    width: 1180px;
  }

  .img-outfit-principal {
    width: 420px;
    left: -14rem;
    top: 3rem;
  }


    .descripcion {
    max-width: 380px;
    font-size: 0.95rem;
  }

  .precio-hero {
    font-size: 2rem;
    margin-top: -1.5rem;
  }

  .boton-añadir-carrito {
    width: 45%;
  }

   .hero {
    padding: 0 6rem;
    gap: 3rem;
  }


   .prendas-carusel {
    gap: 2.5rem;      
    padding: 0 2rem;
  }


  .prendas-carusel article {
    max-width: 220px; 
  }

 
  .prendas-carusel img {
    width: 100%;
    max-width: 200px;
  }

  .camperon-verde img{
    height:234.49px
  }

  
  .nombre-prenda {
    font-size: 0.85rem;
  }

  .precio-carrusel {
    font-size: 1rem;
  }

.barra-seguimiento{
    padding: 3rem
  }

    .carousel-control-next-icon{
    margin-right: -7rem;
}

.carousel-control-prev-icon{
    margin-left: -7rem;
}

.img-categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* siguen siendo 4 */
    gap: 1.5rem;
    padding: 0 3rem;
}

.img-categorias div {
    max-width: 180px;   /* 🔑 achica contenedor */
    margin: 0 auto;
}

.img-categorias img {
    width: 100%;
    height: auto;
}

.nombre-producto {
    font-size: 0.9rem;
    margin: 0.5rem 0;
}



}

@media (min-width: 1300px) and (max-width: 1400px) {
    .titulo-producto-principal{
       margin-left: -5.5rem;
    }
}